<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544771438789-gq3uo4bvegvv0su9r6r05lnsbdj52kdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544771438789-gq3uo4bvegvv0su9r6r05lnsbdj52kdl</string>
	<key>API_KEY</key>
	<string>AIzaSyA9QQHgDx8p0nsGsWjeNARqAS1SNv5exyA</string>
	<key>GCM_SENDER_ID</key>
	<string>544771438789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirna.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-7c457</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-7c457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544771438789:ios:75c5b79ab87b1f1d3c98ac</string>
</dict>
</plist>